.image-slider {
  height: 150px;
  width: 100%;
  overflow: hidden;
  position: relative;

  .slides {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;

    .slide {
      min-width: 100%;
      background-size: cover;
      background-position: center;
      height: 100%;
    }
    &__image-item {
      height: 100%;
      flex: 1 0 100%;
      justify-content: center;
      display: flex;
      background-color: var(--image-background);

      .image {
        display: flex;
        align-items: center;
      }
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--accent-color);
    color: var(--button-color);
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    padding: 10px;
    z-index: 1;

    &:hover {
      background-color: var(--accent-color);
    }
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}
