@import "../../styles/theme";

.search-results {
  margin-top: 80px;
  width: 100%;
  min-height: calc(100vh - 80px);
  position: relative;

  .product-card {
    &.horizontal {
      padding-top: 0;
    }
  }

  &__map-trigger {
    border-radius: var(--input-border-radius);
    position: relative;
    box-shadow: 0 2px 10px var(--shadow-color);
    margin-bottom: 20px;
    button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .image__container {
      max-height: 200px;
      @include media-query(large) {
        max-height: 100%;
      }
    }
  }

  .back-to-list__wrapper {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);

    svg {
      padding-top: 5px;
      padding-right: 5px;
      color: $font-color-dark;
      font-size: var(--font-size-medium);
    }
  }
}

.search-results__map-container {
  position: relative;
  .leaflet-container {
    height: 100vh !important;
  }
}

.search-results__list {
  @include media-query(medium) {
    padding-left: 20px;
  }
}
