@import "../../styles/media-queries";

.product-details {
  .breadcrumbs-container {
    padding-top: 80px;
  }
  .map-container {
    height: 500px;
    margin-bottom: 30px;
  }
  .image-slider {
    height: 400px;
  }

  &__pictures {
    position: relative;
    .image-slider {
      cursor: pointer;
    }
  }
  &__buttons {
    button {
      margin-right: 10px;
      border: 1.8px solid var(--default-color);
      box-shadow: 0 2px 6px 1px #dbdbdb;
      padding: 8px;
      &:hover {
        border-color: var(--accent-color);

        svg {
          color: var(--accent-color);
        }
      }
    }
    svg {
      color: var(--default-color);
      font-size: 1.5rem;
    }
  }
  &__direction {
    a {
      margin-left: 6px;
      color: var(--accent-color);
      font-size: 1rem;
    }
    svg {
      color: var(--accent-color);
      font-size: 1rem;
    }
  }
  &__contact {
    .form-field {
      padding-top: 10px;
    }
    @include media-query(medium) {
      margin-left: 30px !important;
    }
  }
}

.pictures-modal {
  padding-top: 50px;
  .modal-content {
    margin-top: 50px;
    height: 85%;
    max-width: 1200px !important;

    .image-slider {
      margin-top: 30px;
      height: 80%;
    }
  }
}
