@import "../../styles/media-queries";

.product-details {

  margin-bottom: 60px;

  @include media-query(medium) {
    margin-bottom: 0;
  }
  .breadcrumbs-container {
    padding-top: 80px;
  }
  .map-container {
    height: 500px;
    margin-bottom: 30px;
  }
  .image-slider {
    height: 210px;

    @include media-query(medium) {
      height: 400px;
    }

    .prev, .next {
      display: none;
      @include media-query(medium) {
        display: block;
      }
    }


  }


  &__contact-mobile {
    padding: 0;

    .__close {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .sidebar__close {
      display: none;
    }
  }
  &__mobile {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--background-color);
    z-index: 998;
    box-shadow: -2px -7px 14px -1px var(--shadow-color);

    .content-container {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @include media-query(medium) {
      display: none;
    }
  }

  &__pictures {
    position: relative;
    .image-slider {
      cursor: pointer;
    }
  }
  &__buttons {
    button {
      margin-right: 10px;
      border: 1.8px solid var(--default-color);
      box-shadow: 0 2px 6px 1px #dbdbdb;
      padding: 8px;
      &:hover {
        border-color: var(--accent-color);

        svg {
          color: var(--accent-color);
        }
      }
    }
    svg {
      color: var(--default-color);
      font-size: 1.5rem;
    }
  }
  &__direction {
    a {
      margin-left: 6px;
      color: var(--accent-color);
      font-size: 1rem;
    }
    svg {
      color: var(--accent-color);
      font-size: 1rem;
    }
  }
  &__contact {
    display: none;
    .form-field {
      padding-top: 10px;
    }
    @include media-query(medium) {
      display: block;
      margin-left: 30px !important;
    }
  }
}

.pictures-modal {
  padding-top: 50px;

  .modal-content {
    margin-top: 50px;
    height: 85%;
    max-width: 1200px !important;
    background-color: transparent;
    border: none;
    .image-slider {
      margin-top: 30px;
      height: 80%;

      .prev, .next {
        display: none;
        @include media-query(medium) {
          display: block;
        }
      }
    }
  }
}
.product-details__back-to-top {
  .back-to-top.visible {
    bottom: 100px;
    @include media-query(medium) {
      bottom: 10px;
    }
  }
}

.product-details__footer {
  display: none;
  @include media-query(medium) {
    display: block;
  }
}