.product-details {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .product-details {
    margin-bottom: 0;
  }
}
.product-details .breadcrumbs-container {
  padding-top: 80px;
}
.product-details .map-container {
  height: 500px;
  margin-bottom: 30px;
}
.product-details .image-slider {
  height: 210px;
}
@media (min-width: 768px) {
  .product-details .image-slider {
    height: 400px;
  }
}
.product-details .image-slider .prev, .product-details .image-slider .next {
  display: none;
}
@media (min-width: 768px) {
  .product-details .image-slider .prev, .product-details .image-slider .next {
    display: block;
  }
}
.product-details__contact-mobile {
  padding: 0;
}
.product-details__contact-mobile .__close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product-details__contact-mobile .sidebar__close {
  display: none;
}
.product-details__mobile {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
  z-index: 998;
  box-shadow: -2px -7px 14px -1px var(--shadow-color);
}
.product-details__mobile .content-container {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .product-details__mobile {
    display: none;
  }
}
.product-details__pictures {
  position: relative;
}
.product-details__pictures .image-slider {
  cursor: pointer;
}
.product-details__buttons button {
  margin-right: 10px;
  border: 1.8px solid var(--default-color);
  box-shadow: 0 2px 6px 1px #dbdbdb;
  padding: 8px;
}
.product-details__buttons button:hover {
  border-color: var(--accent-color);
}
.product-details__buttons button:hover svg {
  color: var(--accent-color);
}
.product-details__buttons svg {
  color: var(--default-color);
  font-size: 1.5rem;
}
.product-details__direction a {
  margin-left: 6px;
  color: var(--accent-color);
  font-size: 1rem;
}
.product-details__direction svg {
  color: var(--accent-color);
  font-size: 1rem;
}
.product-details__contact {
  display: none;
}
.product-details__contact .form-field {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .product-details__contact {
    display: block;
    margin-left: 30px !important;
  }
}

.pictures-modal {
  padding-top: 50px;
}
.pictures-modal .modal-content {
  margin-top: 50px;
  height: 85%;
  max-width: 1200px !important;
  background-color: transparent;
  border: none;
}
.pictures-modal .modal-content .image-slider {
  margin-top: 30px;
  height: 80%;
}
.pictures-modal .modal-content .image-slider .prev, .pictures-modal .modal-content .image-slider .next {
  display: none;
}
@media (min-width: 768px) {
  .pictures-modal .modal-content .image-slider .prev, .pictures-modal .modal-content .image-slider .next {
    display: block;
  }
}

.product-details__back-to-top .back-to-top.visible {
  bottom: 100px;
}
@media (min-width: 768px) {
  .product-details__back-to-top .back-to-top.visible {
    bottom: 10px;
  }
}

.product-details__footer {
  display: none;
}
@media (min-width: 768px) {
  .product-details__footer {
    display: block;
  }
}

/*# sourceMappingURL=ProductDetails.css.map */
